html {
  font-size: 10px;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.button {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  position: absolute center;
}

.resultText {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  width: 30rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  position: absolute center;
}
